<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="{{ FORUM_DESCR }}"/>
        <title>{{ FORUM_TITLE }} {{ TITLE_EXTRA }}</title>
        <link rel="search" type="application/opensearchdescription+xml"
                title="{{ FORUM_TITLE }} Search" href="/open_search.php"/>
        {{ RSS|raw }}
        <link rel="stylesheet" href="/theme/twig/forum.css" media="screen" title="Default Forum Theme"/>
        <link rel="stylesheet" href="/js/ui/jquery-ui.css" media="screen"/>
        <script src="/js/jquery.js"></script>
        <script async src="/js/ui/jquery-ui.js"></script>
        <script src="/js/lib.js"></script>
    {% endblock %}
</head>
<body>
<div class="header">
    <div class="headsearch">
        <form id="headsearch" method="get" action="/index.php">
            <input type="hidden" name="t" value="search"/>
            <br/><label accesskey="f" title="Forum Search">Forum Search:<br/>
                <input type="search" name="srch" value="" size="20" placeholder="Forum Search"/></label>
            <input type="image" src="/theme/twig/images/search.png" title="Search" name="btn_submit">&nbsp;
        </form>
    </div>
    <a href="/" title="Home">
        <img class="headimg" src="/theme/twig/images/header.gif" alt="" align="left" height="80"/>
        <span class="headtitle">{{ FORUM_TITLE }}</span>
    </a><br/>
    <span class="headdescr">{{ FORUM_DESCR }}<br/><br/></span>
</div>
<div class="content">
    <!-- Table for sidebars. -->
    <table width="100%">
        <tr>
            <td>
                <div id="UserControlPanel">
                    <ul>
                        {% if fud_real_user and options.PM_ENABLED %}
                            {% if private_message_count > 0 %}
                                <li><a href="/index.php?t=pmsg" title="Private Messaging">
                                        <img src="/theme/twig/images/top_pm.png" alt="" />
                                        You have <span class="GenTextRed">{{ private_message_count }}</span>
                                        unread private messages.</a>
                                </li>
                            {% else %}
                                <li><a href="/index.php?t=pmsg" title="Private Messaging">
                                        <img src="/theme/twig/images/top_pm.png" alt="" /> Private Messaging</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if options.BLOG_ENABLED %}
                            <li><a href="/index.php?t=blog" title="Blog"><img
                                            src="/theme/twig/images/blog.png" alt=""/> Blog</a></li>
                        {% endif %}
                        {% if options.PAGES_ENABLED %}
                            <li><a href="/index.php?t=page" title="Pages"><img
                                            src="/theme/twig/images/pages.png" alt=""/> Pages</a></li>
                        {% endif %}
                        {% if options.CALENDAR_ENABLED %}
                            <li><a href="/index.php?t=cal" title="Calendar">
                                    <img src="/theme/twig/images/calendar.png" alt=""/> Calendar</a></li>
                        {% endif %}
                        {% if options.SEARCH_ENABLED %}
                            <li>
                                <a href="/index.php?t=search{% if forum_id is not empty %}&amp;forum_limiter={{ forum_id }}{% endif %}"
                                        title="Search"><img src="/theme/twig/images/top_search.png" alt=""/>
                                    Search</a></li>
                        {% endif %}
                        <li><a accesskey="h" href="/index.php?t=help_index&amp;<?php echo _rsid; ?>" title="Help"><img
                                        src="/theme/twig/images/top_help.png" alt=""/> Help</a></li>
                        {% if SHOW_MEMBERS %}
                            <li><a href="/index.php?t=finduser&amp;btn_submit=Find" title="Members">
                                    <img src="/theme/twig/images/top_members.png" alt=""/> Members</a></li>
                        {% endif %}
                        {% if fud_real_user %}
                            <li><a href="/index.php?t=uc" title="Access the user control panel">
                                    <img src="/theme/twig/images/top_profile.png" alt=""/> Control Panel</a></li>
                            <li><a href="/index.php?t=login&amp;logout=1&amp;SQ={{ SQ }}" title="Logout">
                                    <img src="/theme/twig/images/top_logout.png" alt=""/> Logout
                                    [ {{ user_alias }} ]
                                </a></li>
                        {% else %}
                            {% if options.SHOW_REGISTER %}
                                <li><a href="/index.php?t=register" title="Register">
                                        <img src="/theme/twig/images/top_register.png" alt=""/> Register</a></li>
                            {% endif %}
                            <li><a href="/index.php?t=login&amp;'._rsid.'" title="Login">
                                    <img src="/theme/twig/images/top_login.png" alt=""/> Login</a></li>
                        {% endif %}
                        <li><a href="/index.php?t=index&amp;<?php echo _rsid; ?>" title="Home"><img
                                        src="/theme/twig/images/top_home.png" alt=""/> Home</a></li>
                        {% if IS_ADMIN or IS_MANAGER %}
                            <li><a href="/adm/index.php?S='.s.'&amp;SQ='.$GLOBALS['sq'].'" title="Administration"><img
                                            src="/theme/twig/images/top_admin.png" alt=""/> Administration</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% if statistics is not empty %}
                    <br/>
                    <span class="GenText fb">Admin:</span>
                    {% if statistics.moderation_count is not empty and statistics.moderation_count > 0 %}
                        <a href="/index.php?t=modque">Moderation Queue</a>
                        <span class="GenTextRed">{{ statistics.moderation_count }}</span>
                    {% endif %}
                    {% if statistics.reported_count is not empty %}
                        <a href="/index.php?t=reported" rel="nofollow">Reported Messages</a>
                        <span class="GenTextRed">{{ statistics.reported_count }}</span>
                    {% endif %}
                    {% if statistics.thread_exchange_count is not empty %}
                        <a href="/index.php?t=thr_exch">Topic Exchange</a>
                        <span class="GenTextRed">{{ statistics.thread_exchange_count }}</span>
                    {% endif %}
                    {% if statistics.avatar_count is not empty and statistics.avatar_count > 0 %}
                        <a href="/adm/admavatarapr.php?S='.s.'&SQ={{ SQ }}">Custom Avatar Queue</a>
                        <span class="GenTextRed">{{ statistics.avatar_count }}</span>
                    {% endif %}
                    {% if IS_ADMIN or IS_GROUP_LEADER %}
                        <a href="/index.php?t=groupmgr">Group Manager</a>
                    {% endif %}
                    {% if statistics.account_approval_count is not empty %}
                        <a href="/adm/admuserapr.php?S='.s.'&SQ={{ SQ }}">Accounts Pending Approval</a>
                        <span class="GenTextRed">{{ statistics.account_approval_count }}</span>
                    {% endif %}
                    <br/>
                {% endif %}
                <div class="wa">
                    <div class="rel fl" style="left:0;">
		                <span id="ShowLinks">
                            <span class="GenText fb">Show:</span>
                                <a href="/index.php?t=selmsg&date=today&frm_id={{ forum_id }}&th={{ th }}"
                                        title="Show all messages that were posted today" rel="nofollow">Today&#39;s Messages</a>
                                {% if _uid is not empty %}
                                    <b>::</b>
                                    <a href="/index.php?t=selmsg&unread=1&frm_id={% if forum_id is not empty %}{{ forum_id }}{% else %}{{ frm_id }}{% endif %}"
                                            title="Show all unread messages" rel="nofollow">Unread Messages</a>
                                {% endif %}
                            {% if th is not empty %}
                                <b>::</b>
                                <a href="/index.php?t=selmsg&amp;reply_count=0&frm_id={% if forum_id is not empty %}{{ forum_id }}{% else %}{{ frm_id }}{% endif %}"
                                        title="Show all messages, which have no replies" rel="nofollow">Unanswered Messages</a>
                            {% endif %}
                                <b>::</b> <a href="/index.php?t=polllist" rel="nofollow">Polls</a>
                                <b>::</b> <a href="/index.php?t=mnav" rel="nofollow">Message Navigator</a>
                            </span>
                        {% if _uid is not empty %}
                            {% if forum_subscribed %}
                                <a href="/index.php?t='.$_GET['t'].'&unsub=1&frm_id={{ frm_id }}&start='.$start.'&amp;SQ={{ SQ }}"
                                        title="Stop receiving notifications about new topics in the forum">Unsubscribe</a>
                            {% else %}
                                <a href="/index.php?t='.$_GET['t'].'&sub=1&frm_id={{ frm_id }}&start='.$start.'&SQ={{ SQ }}"
                                        title="Receive notifications when someone creates a new topic in this forum">Subscribe</a>
                            {% endif %}
                        {% endif %}
                        {% if _uid and IS_MOD %}<!-- TODO: Add: $MOD || $frm->group_cache_opt & 2048 -->
                            <a href="/index.php?t=merge_th&frm_id=$frm->id">Merge Topics</a>
                        {% endif %}
                    </div>
                </div>
                {{ announcements }}<br />
                {% block content %}{% endblock %}
                <br/>
                {% if show_legend %}
                    <fieldset>
                        <legend>Legend</legend>
                        <img src="/theme/twig/images/unread.png" alt="New Messages"/>&nbsp;New Messages&nbsp;&nbsp;
                        <img src="/theme/twig/images/read.png" alt="No New messages"/>&nbsp;No New messages&nbsp;&nbsp;
                        <img src="/theme/twig/images/unreadlocked.png" alt="Locked (w/ unread messages)"/>&nbsp;Locked
                        (w/ unread
                        messages)&nbsp;&nbsp;
                        <img src="/theme/twig/images/readlocked.png" alt="Locked"/>&nbsp;Locked&nbsp;&nbsp;
                        <img src="/theme/twig/images/moved.png" alt="Moved to another forum"/>&nbsp;Moved to another
                        forum
                    </fieldset>
                    <br/>
                {% endif %}
                <div class="ac"><span class="curtime"><b>Current Time:</b> {{ 'now'|date('D M d H:i:s T Y') }}</span>
                </div>
                {% if page_stats %}
                    {{ page_stats|raw }}
                {% endif %}
            </td>
            {% include 'right_panel.twig' %}
        </tr>
    </table>
</div>
{% if loggedIn == false %}
    <div class="fr">
        <form id="quick_login_form" method="post" action="/index.php?t=login">
            <table border="0" cellspacing="0" cellpadding="3">
                <tr class="SmallText">
                    <td>
                        <label>Login:<br/>
                            <input class="SmallText" type="text" name="quick_login" size="18"/></label>
                    </td>
                    <td>
                        <label>Password:<br/>
                            <input class="SmallText" type="password" name="quick_password" size="18"/></label>
                    </td>
                    <td>
                        &nbsp;<br/>
                        <label><input type="checkbox" checked="checked" name="quick_use_cookies" value="1"/> Use
                            Cookies?</label>
                    </td>
                    <td>
                        &nbsp;<br/>
                        <input type="submit" class="button" name="quick_login_submit" value="Login"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endif %}
{% if logedin or forum_info %}
<table cellspacing="1" cellpadding="2" class="ContentTable">
    {% if logedin %}
        {{ logedin|raw }}
    {% endif %}
    {% if forum_info %}
        {{ forum_info|raw }}
    {% endif %}
</table>
{% endif %}
<script>
    min_max_cats("/theme/twig/images", "Minimize Category", "Maximize Category", "<?php echo $usr->sq; ?>", "<?php echo s; ?>");
</script>
{% block endscripts %}{% endblock %}
<div class="footer ac">
    <b>.::</b>
    <a href="mailto:{{ GLOBAL_ADMIN_EMAIL }}">Contact</a>
    <b>::</b>
    <a href="/index.php?t=index&amp;<?php echo _rsid; ?>">Home</a>
    <b>::.</b>
    <p class="SmallText">Powered by: FUDforum {{ GLOBAL_FORUM_VERSION }}.<br/>Copyright &copy;2001-2020 <a
                href="http://fudforum.org/">FUDforum Bulletin Board Software</a></p>
</div>

</body>
</html>
