<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ FORUM_DESCR }}"/>
    <title>{{ FORUM_TITLE }} {{ TITLE_EXTRA }}</title>
    <link rel="search" type="application/opensearchdescription+xml"
            title="{{ FORUM_TITLE }} Search" href="/open_search.php"/>
    <?php echo $RSS; ?>
    <link rel="stylesheet" href="/theme/responsive/forum.css" media="screen" title="Default Forum Theme"/>
    <link rel="stylesheet" href="/js/ui/jquery-ui.css" media="screen"/>
    <script src="/js/jquery.js"></script>
    <script async src="/js/ui/jquery-ui.js"></script>
    <script src="/js/lib.js"></script>
    {% endblock %}
</head>
<body>
<!--  -->
<div class="header">
  <div class="headsearch">
    <form id="headsearch" method="get" action="/index.php">
        <input type="hidden" name="t" value="search" />
        <br /><label accesskey="f" title="Forum Search">Forum Search:<br />
            <input type="search" name="srch" value="" size="20" placeholder="Forum Search" /></label>
        <input type="image" src="/theme/responsive/images/search.png" title="Search" name="btn_submit">&nbsp;
    </form>
</div>
<a href="/" title="Home">
    <img class="headimg" src="/theme/responsive/images/header.gif" alt="" align="left" height="80"/>
    <span class="headtitle">{{ FORUM_TITLE }}</span>
</a><br/>
<span class="headdescr">{{ FORUM_DESCR }}<br/><br/></span>
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
{% if loggedIn == false %}
<div class="fr">
<form id="quick_login_form" method="post" action="/index.php?t=login">
<table border="0" cellspacing="0" cellpadding="3">
    <tr class="SmallText">
        <td>
            <label>Login:<br />
                <input class="SmallText" type="text" name="quick_login" size="18" /></label>
        </td>
        <td>
            <label>Password:<br />
                <input class="SmallText" type="password" name="quick_password" size="18" /></label>
        </td>
        <td>
            &nbsp;<br />
            <label><input type="checkbox" checked="checked" name="quick_use_cookies" value="1" /> Use Cookies?</label>
        </td>
        <td>
            &nbsp;<br />
            <input type="submit" class="button" name="quick_login_submit" value="Login" />
        </td>
    </tr>
</table>
</form>
</div>
{% endif %}
<!-- TODO ?php echo($logedin || $forum_info ? '<br />
<table cellspacing="1" cellpadding="2" class="ContentTable">
    ' . $logedin . '
    ' . $forum_info . '
</table>' : ''); ? -->
<br/>
<fieldset>
    <legend>Legend</legend>
    <img src="/theme/responsive/images/new_content.png" alt="New messages since last read"/> New
    messages since last read&nbsp;&nbsp;
    <img src="/theme/responsive/images/existing_content.png" alt="No new messages since last read"/> No
    new messages since last read&nbsp;&nbsp;
    <img src="/theme/responsive/images/moved.png" alt="Redirection"/> Redirection
</fieldset>
<div><br/></div>
<br/>
<div class="ac"><span class="curtime"><b>Current Time:</b> {{ 'now'|date('a b d H:M:S Z Y') }} </span></div>
<?php echo $page_stats; ?>
<script>
    min_max_cats("/theme/responsive/images", "Minimize Category", "Maximize Category", "<?php echo $usr->sq; ?>", "<?php echo s; ?>");
</script>
<?php echo(!empty($RIGHT_SIDEBAR) ? '
</td><td width="200px" align="right" valign="top" class="sidebar-right">
' . $RIGHT_SIDEBAR . '
' : ''); ?>
</td>
</tr>
</table>

</div>
<div class="footer ac">
    <b>.::</b>
    <a href="mailto:{{ GLOBAL_ADMIN_EMAIL }}">Contact</a>
    <b>::</b>
    <a href="/index.php?t=index&amp;<?php echo _rsid; ?>">Home</a>
    <b>::.</b>
    <p class="SmallText">Powered by: FUDforum {{ GLOBAL_FORUM_VERSION }}.<br/>Copyright &copy;2001-2020 <a
                href="http://fudforum.org/">FUDforum Bulletin Board Software</a></p>
</div>

</body>
</html>
