{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="ctb">
        <table cellspacing="1" cellpadding="2" class="DialogTable">
            <tr>
                <th>COPPA Confirmation</th>
            </tr>
            <tr class="RowStyleA GenText ac">
                <td>
                    Click the link that corresponds to your birth date<br /><br />
                    [<a href="/index.php?t=pre_reg&coppa=&{{ _rsid }}">Before {{ coppa_date }}</a>]&nbsp;
                    [<a href="/index.php?t=pre_reg&coppa=1&{{ _rsid }}">After {{ coppa_date }}</a>]
                    <hr/>
                    <p>A parent or guardian must mail or fax a signed permission form to the administrator of this forum
                        before a user under the age of 13 can complete registration.</p>
                    <p>For further information contact <a href="mailto:{{ globals.ADMIN_EMAIL }}">{{ globals.ADMIN_EMAIL }}</a></p>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
