{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="ctb">
        <table cellspacing="0" cellpadding="0" class="MiniTable">
            <tr>
                <td>
                    <fieldset>
                        <legend>Search users by IP</legend>
                        <form method="post" action="/index.php?t=ip">{{ _hs|raw }}
                            <span class="SmallText">Supported syntax: 1.2.3.4, 1.2.3, 1.2, 1<br/></span>
                            <input type="text" name="ip" value="<?php echo $ip; ?>" size="20" maxlength="15"/>
                            <input type="submit" value="Search"/>
                        </form>
                    </fieldset>
                </td>
                <td width="50"></td>
                <td>
                    <fieldset>
                        <legend>Analyze IP usage</legend>
                        <form method="post" action="/index.php?t=ip">{{ _hs|raw }}
                            <span class="SmallText">Please specify the user&#39;s exact login.<br/></span>
                            <input type="text" name="user" value="{{ user }}" size="20"/>
                            <input type="submit" value="Search"/>
                        </form>
                    </fieldset>
                </td>
            </tr>
        </table>
        <br/><br/>
        {{ page_data }}
    </div>
{% endblock %}
