<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ FORUM_TITLE }} {{ TITLE_EXTRA }}</title>
    <script src="/js/lib.js"></script>
    <script async src="/js/jquery.js"></script>
    <script async src="/js/ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="/theme/twig/forum.css" />
</head>
<body>
<div class="content">
    <form id="pmuserloc" action="/index.php" method="get"><?php echo _hs; ?>
        <table cellspacing="0" cellpadding="3" class="dashed">
            <tr>
                <td class="fb">Login:</td>
                <td><input tabindex="1" type="text" name="usr_login" value="{{ username }}" /></td>
                <td><input tabindex="2" type="submit" class="button" name="btn_submit" value="Submit" /></td>
            </tr>
        </table>
        <input type="hidden" name="js_redr" value="{{ jsRedr }}" />
        <input type="hidden" name="overwrite" value="{{ overwrite }}" />
        <input type="hidden" name="t" value="pmuserloc" />
    </form>
    <br />
    <table cellspacing="0" cellpadding="3" class="dashed wa">
        <tr>
            <th>User</th>
        </tr>
        {{ findUserData }}
    </table>
    <script>
        document.forms['pmuserloc'].usr_login.focus();
    </script>
</div>
</body></html>
