{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <form method="post" action="/index.php?t=report">
        <div class="ctb">
            <table cellspacing="1" cellpadding="2" class="MiniTable">
                <tr>
                    <th>Report Message</th>
                </tr>
                <tr class="RowStyleB">
                    <td>
                        <span class="GenText fb">Reporting About:</span>
                        <br/>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="repI"><b>Subject:</b> {{ msg.subject }}
                                    <br/><b>By:</b> {{ $msg->alias ? msg.alias|escape : ANON_NICK }}
                                    <br/><b>Posted on:</b>
                                    <span class="DateText">{{ msg.post_stamp|date('%a, %d %B %Y %H:%M') }}</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="RowStyleB">
                    <td>
                        <span class="GenText">Please give a reason why you are reporting this message:</span>
                        <br/>{{ reasonError }}
                        <textarea name="reason" cols="80" rows="20"></textarea>
                    </td>
                </tr>
                <tr class="RowStyleB">
                    <td class="ar"><input type="submit" class="button" name="btn_report" value="Submit Report"/></td>
                </tr>
            </table>
        </div>
        <input type="hidden" name="msg_id" value="{{ msgId }}"/>
        {{ _hs|raw }}
    </form>
{% endblock %}
