<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ FORUM_TITLE }} {{ TITLE_EXTRA }}</title>
    <script src="/js/lib.js"></script>
    <script async src="/js/jquery.js"></script>
    <script async src="/js/ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="/theme/twig/forum.css" />
</head>
<body>
<div class="content">
    <strong>Instructions for a Parent or Guardian</strong><br /><br />
    Please print this page, sign it, and mail or fax it back to us.
    <pre>
{{ coppa_address }}
</pre>
    <table border="1" cellspacing="1" cellpadding="3">
        <tr>
            <td colspan="2">Registration Form</td>
        </tr>
        <tr>
            <td>Login</td>
            <td>{{ usr.login }}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>&lt;HIDDEN&gt;</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>{{ usr.email }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td colspan="2">
                Please sign the form below and send it to us<br />
                I have reviewed the information my child has supplied and I have read the Privacy Policy for the web site. I understand that the profile information may be changed using a password. I understand that I may ask that this registration profile be removed entirely from the forum.
            </td>
        </tr>
        <tr>
            <td>Sign here if you give permission</td>
            <td><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></td>
        </tr>
        <tr>
            <td>Sign here if you would like the account to be deleted</td>
            <td><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></td>
        </tr>
        <tr>
            <td>Parent/Guardian Full Name:</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Relation to Child:</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Telephone:</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>E-mail Address:</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">
                Please contact <a href="mailto:{{ globals.ADMIN_EMAIL }}">{{ globals.ADMIN_EMAIL }}</a> with any questions
            </td>
        </tr>
    </table>
</div>
</body></html>
