{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ tabs }}
    <br />
    {{ currentPageTempmlate }}
    <table cellspacing="1" cellpadding="2" class="pmDu">
        <tr>
            <td colspan="3" class="RowStyleA wa nw SmallText">
                Your private message folders are {{ percentFull }}% full.
            </td>
        </tr>
        <tr>
            <td colspan="3" class="RowStyleB wa">
                <table cellspacing="0" cellpadding="1" border="0">
                    <tr>
                        {{ fullIndicator }}
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="RowStyleA">
            <td class="SmallText" width="58">0%</td>
            <td class="SmallText ac" width="58">50%</td>
            <td class="SmallText ar" width="58">100%</td>
        </tr>
    </table>
    <div class="ar">
        <a href="/index.php?t=ppost&{{ _rsid }}"><img src="/theme/twig/images/new_pm.gif" alt="" /></a>
    </div>
    <form action="/index.php?t=pmsg" method="post" id="priv_frm">
        {{ _hs }}
        <table cellspacing="1" cellpadding="2" class="ContentTable">
            <tr class="RowStyleB">
                <td class="SmallText al" colspan="3">
                    {% if privateTools %}
                        <a href="/index.php?t=pmsg_dump&{{ _rsid }}">Download Message Dump</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td colspan="3" class="SmallText ar nw">
                    Folder:
                    <select name="folder_id" onchange="document.forms['priv_frm'].submit();">
                        {{ selectOptionsCurFolder }}
                    </select>
                    <input type="submit" class="button" name="sel_folder" value="Go" />
                </td>
            </tr>
            <tr>
                <th class="nw">
                    Select
                    <input type="checkbox" name="toggle" title="all/none"
                            onclick="jQuery('input:checkbox').prop('checked', this.checked);" />
                </th>
                <th>&nbsp;</th>
                <th class="wa">
                    <a href="/index.php?t=pmsg&folder_id={{ folderId }}&{{ _rsid }}&o=subject&s={{ subjectOrder }}" class="thLnk">
                        Subject
                    </a>
                </th>
                <th class="ac">
                    <a href="/index.php?t=pmsg&folder_id={{ folder_id }}&{{ _rsid }}&o={{ folderAlias }}&s={{ folderOrder }}" class="thLnk">
                        {% if folderId == 3 %}Recipient{% else %}Author{% endif %}
                    </a>
                </th>
                <th class="ac">
                    <a href="/index.php?t=pmsg&folder_id={{ folderId }}&{{ _rsid }}&o=post_stamp&s={% if o == 'p.post_stamp' and s = 'ASC' %}d{% else %}a{% endif %}" class="thLnk">Time</a>
                </th>
                <th class="ac">Action</th>
            </tr>
            {{ privateMsgEntry }}
            {{ privateTools }}
        </table>
    </form>
    {{ pagePager }}
    <div class="ar pmL">
        <a href="/index.php?t=ppost&{{ _rsid }}">
            <img src="/theme/twig/images/new_pm.gif" alt="" />
        </a>
    </div>
{% endblock %}
