<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ FORUM_TITLE }} {{ TITLE_EXTRA }}</title>
    <style>
        {{ stylesheet }}
    </style>
</head>
<body>
<div class="content">
    <h1>Private messages for {{ usr.alias }}</h1>
    {{ pmData }}
    <small>Exported: {{ exportDate }}</small>
</div>
</body>
</html>
