{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ tabs }}
    <br/>
    {{ currentPageTemplateFolders|raw }}
    <form action="/index.php?t=ppost" method="post" id="post_form" name="post_form" enctype="multipart/form-data"
            onsubmit="document.post_form.btn_submit.disabled = true; document.post_form.btn_draft.disabled = true;">
        {{ _hs }}
        <input type="hidden" name="btn_action" value=""/>
        <input type="hidden" name="msg_id" value="{{ msgId }}"/>
        <input type="hidden" name="reply" value="{{ reply }}"/>
        <input type="hidden" name="forward" value="{{ forward }}"/>
        <input type="hidden" name="old_subject" value="{{ oldSubject }}"/>
        <input type="hidden" name="msg_ref_msg_id" value="{{ msgRefMsgId }}"/>
        <input type="hidden" name="prev_loaded" value="1"/>
        {{ postError }}
        {{ previewMessage }}
        <table cellspacing="1" cellpadding="2" class="ContentTable">
            <tr>
                <th colspan="2">Post Form<a name="ptop"> </a></th>
            </tr>
            <tr class="RowStyleB">
                <td class="GenText nw">Logged in user:</td>
                <td class="GenText wa">
                    {{ user->alias|escape }}
                    [<a href="/index.php?t=login&{{ _rsid }}&logout=1&SQ={{ globals.SQ }}">logout</a>]
                </td>
            </tr>
            <tr class="RowStyleB">
                <td class="GenText">To:</td>
                <td class="GenText"><input type="text" name="msg_to_list" id="msg_to_list" value="{{ msgToList }}"
                            tabindex="1"/>
                    {% if memberSearchEnabled %}
                        [<a href="javascript://" onclick="window_open('/index.php?t=pmuserloc&{{ _rsid }}&js_redr=post_form.msg_to_list','user_list',400,250);">
                        Find User</a>]
                    {% endif %}
                    [<a href="javascript://" onclick="window_open('/index.php?t=qbud&amp;<?php echo _rsid; ?>&amp;1=1', 'buddy_list',275,300);">
                        Select from Buddy List</a>]
                    {{ getError('msg_to_list') }}</td>
            </tr>
            <tr class="RowStyleB">
                <td class="GenText">Title:</td>
                <td class="GenText"><input type="text" spellcheck="true" maxlength="100" name="msg_subject"
                            value="{{ msgSubject }}" size="50" tabindex="2"/>
                    {{ getError('msg_subject') }}
                </td>
            </tr>
            {{ postIcons }}
            {% if options.PRIVATE_MSG_SMILEY %}
                {{ postSmileyControl }}
            {% endif %}
            {% if privateTagsBBCodeEnabled %}
                <tr class="RowStyleA">
                    <td class="GenText nw">Formatting Tools:</td>
                    <td class="nw">
                        <span class="FormattingToolsBG">
                            <span class="FormattingToolsCLR"><a title="Bold" accesskey="b"
                                        href="javascript: insertTag('txtb', '[b]', '[/b]');"><img alt=""
                                            src="/theme/twig/images/b_bold.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Italics" accesskey="i"
                                        href="javascript: insertTag('txtb', '[i]', '[/i]');"><img alt=""
                                            src="/theme/twig/images/b_italic.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Underline" accesskey="u"
                                        href="javascript: insertTag('txtb', '[u]', '[/u]');"><img alt=""
                                            src="/theme/twig/images/b_underline.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Align Left"
                                        href="javascript: insertTag('txtb', '[ALIGN=left]', '[/ALIGN]');"><img alt=""
                                            src="/theme/twig/images/b_aleft.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Align Center"
                                        href="javascript: insertTag('txtb', '[ALIGN=center]', '[/ALIGN]');"><img alt=""
                                            src="/theme/twig/images/b_acenter.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Align Right"
                                        href="javascript: insertTag('txtb', '[ALIGN=right]', '[/ALIGN]');"><img alt=""
                                            src="/theme/twig/images/b_aright.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Insert a Link" accesskey="w"
                                        href="javascript: url_insert('Link location:');"><img alt=""
                                            src="/theme/twig/images/b_url.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Insert an E-mail address" accesskey="e"
                                        href="javascript: email_insert('E-mail address:');"><img alt=""
                                            src="/theme/twig/images/b_email.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Insert an image" accesskey="m"
                                        href="javascript: image_insert('Image URL:');"><img alt=""
                                            src="/theme/twig/images/b_image.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Add numbered list" accesskey="l"
                                        href="javascript: window_open('/index.php?t=mklist&{{ _rsid }}&tp=OL:1', 'listmaker', 350, 350);"><img
                                            alt="" src="/theme/twig/images/b_numlist.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Add bulleted list"
                                        href="javascript: window_open('/index.php?t=mklist&{{ _rsid }}&tp=UL:square', 'listmaker', 350, 350);"><img
                                            alt="" src="/theme/twig/images/b_bulletlist.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Add Quote" accesskey="q"
                                        href="javascript: insertTag('txtb', '[quote]', '[/quote]');"><img alt=""
                                            src="/theme/twig/images/b_quote.gif"/></a></span>
                            <span class="FormattingToolsCLR"><a title="Add Code" accesskey="c"
                                        href="javascript: insertTag('txtb', '[code]', '[/code]');"><img alt=""
                                            src="/theme/twig/images/b_code.gif"/></a></span>
                        </span>
                                                <span class="hide1">
                        &nbsp;&nbsp;
                        <select name="fnt_size"
                                onchange="insertTag('txtb', '[size='+document.post_form.fnt_size.options[this.selectedIndex].value+']', '[/size]'); document.post_form.fnt_size.options[0].selected=true">
                            <option value="" selected="selected">Size</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                        <select name="fnt_color"
                                onchange="insertTag('txtb', '[color='+document.post_form.fnt_color.options[this.selectedIndex].value+']', '[/color]'); document.post_form.fnt_color.options[0].selected=true">
                            <option value="">Color</option>
                            <option value="skyblue" style="color:skyblue">Sky Blue</option>
                            <option value="royalblue" style="color:royalblue">Royal Blue</option>
                            <option value="blue" style="color:blue">Blue</option>
                            <option value="darkblue" style="color:darkblue">Dark Blue</option>
                            <option value="orange" style="color:orange">Orange</option>
                            <option value="orangered" style="color:orangered">Orange Red</option>
                            <option value="crimson" style="color:crimson">Crimson</option>
                            <option value="red" style="color:red">Red</option>
                            <option value="firebrick" style="color:firebrick">Firebrick</option>
                            <option value="darkred" style="color:darkred">Dark Red</option>
                            <option value="green" style="color:green">Green</option>
                            <option value="limegreen" style="color:limegreen">Lime Green</option>
                            <option value="seagreen" style="color:seagreen">Sea Green</option>
                            <option value="deeppink" style="color:deeppink">Deep Pink</option>
                            <option value="tomato" style="color:tomato">Tomato</option>
                            <option value="coral" style="color:coral">Coral</option>
                            <option value="purple" style="color:purple">Purple</option>
                            <option value="indigo" style="color:indigo">Indigo</option>
                            <option value="burlywood" style="color:burlywood">Burly Wood</option>
                            <option value="sandybrown" style="color:sandybrown">Sandy Brown</option>
                            <option value="sienna" style="color:sienna">Sienna</option>
                            <option value="chocolate" style="color:chocolate">Chocolate</option>
                            <option value="teal" style="color:teal">Teal</option>
                            <option value="silver" style="color:silver">Silver</option>
                        </select>
                        <select name="fnt_face"
                                onchange="insertTag('txtb', '[font='+document.post_form.fnt_face.options[this.selectedIndex].value+']', '[/font]'); document.post_form.fnt_face.options[0].selected=true">
                            <option value="">Font</option>
                            <option value="Arial" style="font-family:Arial,serif">Arial</option>
                            <option value="Times" style="font-family:Times,serif">Times</option>
                            <option value="Courier" style="font-family:Courier,serif">Courier</option>
                            <option value="Century" style="font-family:Century,serif">Century</option>
                        </select>
                        </span>
                    </td>
                </tr>
            {% endif %}
            <tr class="RowStyleA">
                <td class="nw vt GenText">
                    Body:<br/><br/>{{ tmplPostOptions|raw }}
                </td>
                <td>
                    {{ getError('msg_body', 1) }}
                    <textarea id="txtb" name="msg_body" rows="" cols="" wrap="virtual" tabindex="3"
                            style="width:98%; height:220px;">{{ msgBody }}</textarea>
                </td>
            </tr>

            {{ fileAttachments|raw }}
            <tr class="RowStyleB vt">
                <td class="GenText">Options:</td>
                <td>
                    <table border="0" cellspacing="0" cellpadding="1">
                        <tr>
                            <td><input type="checkbox" name="msg_track" id="msg_track"
                                        value="Y"{{ msgTrack ?' checked="checked"' }} />
                            </td>
                            <td class="GenText fb"><label for="msg_track">Track This Message</label></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="SmallText">Notify me (via private message) when this message gets read.</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="msg_show_sig" id="msg_show_sig"
                                        value="Y"{{ msgShowSig ?' checked="checked"' }} />
                            </td>
                            <td class="GenText fb"><label for="msg_show_sig">Include Signature</label></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="SmallText">Include your profile signature.</td>
                        </tr>
                        {% if options.PRIVATE_MSG_SMILEY %}
                            <tr>
                                <td><input type="checkbox" name="msg_smiley_disabled" id="msg_smiley_disabled" value="Y"
                                    {{ msgSmileyDisabled ? ' checked="checked"'}} />
                                </td>
                                <td class="GenText"><b><label for="msg_smiley_disabled">Disable smilies in this message</label></b>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
            <tr class="RowStyleA">
                <td class="GenText ar" colspan="2">
                    <input accesskey="r" type="submit" tabindex="4" class="button" value="Preview Message"
                            name="preview"/>&nbsp;
                    {{ spellCheckButton|raw }}
                    <input type="submit" accesskey="d" class="button" name="btn_draft" value="Save Draft"
                            onclick="document.post_form.btn_action.value='draft';"/>&nbsp;
                    <input type="submit" class="button" name="btn_submit" value="Send" tabindex="5"
                            onclick="document.post_form.btn_action.value='send';" accesskey="s"/>
                </td>
            </tr>
        </table>
    </form>
    {{ referenceMsg|raw }}
{% endblock %}
{% block endscripts %}
    <style>
        .ui-autocomplete-loading {
            background: white url("/theme/twig/images/ajax-loader.gif") right center no-repeat;
        }
    </style>
    <script>
        jQuery(function () {
            jQuery("#msg_to_list").autocomplete({
                source: "index.php?t=autocomplete&lookup=alias", minLength: 1
            });
        });
    </script>
    <script>
        quote_selected_text('Quote Selected Text');
        if (!document.getElementById('preview')) {
            if (!document.post_form.msg_subject.value.length) {
                document.post_form.msg_subject.focus();
            } else {
                document.post_form.msg_body.focus();
            }
        }
    </script>
{% endblock %}
