{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <form id="merge_th" action="/index.php?t=merge_th" method="post">{{ _hs }}
        <table cellspacing="1" cellpadding="2" class="ContentTable">
            <tr>
                <th class="wa" colspan="2">Merge Topic Control Panel</th>
            </tr>
            {% if newTH %}
                <tr  class="RowStyleA">
                    <td colspan="2" class="al">
                        <b>Go to the <a href="/index.php?t=msg&{{ _rsid }}&th={{ newTH }}">last merged topic</a>
                            or merge another:</b>
                    </td>
                </tr>
            {% endif %}
            <tr class="RowStyleA">
                <td class="al"><b>New topic title:</b></td>
                <td><input type="text" spellcheck="true" name="new_title" value="{{ new_title }}" size="50" /></td>
            </tr>
            <tr class="RowStyleA">
                <td class="al fb">Forum:</td>
                <td class="al"><select name="forum">{{ forumSel }}</select></td>
            </tr>
            <tr class="RowStyleC">
                <td colspan="2" class="ac">
                    <table border="0" cellspacing="1" cellpadding="2">
                        <tr>
                            <td colspan="3" class="ac">
                                Select Topics to Merge
                                <span class="SmallText">(you must select more than one topic)</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="ac">Topic Page Selection:
                                <select name="tmp" onchange="document.forms['merge_th'].page.value=this.value; document.forms['merge_th'].submit();">
                                    {{ tmplSelectOptions }}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="ac">
                                <select name="sel_th[]" size="10" multiple="multiple" onchange="if (document.forms['merge_th'].new_title.value=='') document.forms['merge_th'].new_title.value=this.options[this.selectedIndex].text;">
                                    {{ threadSel }}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="al" width="100">
                                {% if page > 1 %}<input type="submit" name="prev" value="Previous Topics" />{% endif %}
                            </td>
                            <td class="ac" width="200">
                                <input type="submit" name="merge" value="Merge Selected Topics" />
                            </td>
                            <td class="ar" width="100">
                                {% if page < maxPage %}<input type="submit" name="next" value="Next Topics" />{% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <input type="hidden" name="page" value="{{ page }}" />
        <input type="hidden" name="frm_id" value="{{ frm }}" />
    </form>
{% endblock %}
