{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ tabs }}
    <form method="post" id="bookmark" action="/index.php?t=bookmarked">
        {{ _hs|raw }}
        <table cellspacing="1" cellpadding="2" class="ContentTable">
            <tr>
                <th colspan="3">Bookmarked Topics</th>
            </tr>
            {% if bookmarked_thread_data %}
                {{ bookmarked_thread_data }}
                <tr class="RowStyleC">
                    <td class="ac" colspan="2"><input type="submit" class="button" name="t_unbookmark_sel" value="Remove from bookmarks" /></td>
                    <td class="ar"><input type="submit" class="button" name="t_unbookmark_all" value="Remove all bookmarks" /></td>
                </tr>
            {% else %}
                <tr class="'.alt_var('search_alt','RowStyleA','RowStyleB').'">
                    <td colspan="3">No bookmarked topics</td>
                </tr>
            {% endif %}
        </table>
    </form>
    {{ pager }}
{% endblock %}
