{% extends layout__file %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% if id and (_uid === id) %}
        {{ tabs }}
    {% endif %}
    <table cellspacing="1" cellpadding="2" class="ContentTable">
        <tr>
            <th colspan="3">User Information</th>
        </tr>
        <tr class="RowStyleA">
            <td class="GenText wa">
                Login: <a href="/index.php?t=usrinfo&id={{ uid }}&{{ _rsid }}">{{ uAlias|escape }}</a>
            </td>
            <td class="GenText nw">Registered on {{ uRegDate }}</td>
            <td class="GenText nw">Message Count {{ pCount }}</td>
        </tr>
        <tr>
            <th class="wa">Subject</th>
            <th class="nw">Forum:</th>
            <th class="nw">
                <a class="thLnk" href="/index.php?t=showposts&so={{ sortOrderR }}&id={{ uid }}&{{ _rsid }}" rel="nofollow">Date Posted</a>
            </th>
        </tr>
        {{ postEntry }}
    </table>
    {{ pagePager }}
{% endblock %}
